
.event-info{
    text-align: left;
    color:#344955;
    font-size: 20px;
    transition: box-shadow 0.3s ease;   
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.icon {
    padding: 10px;
    min-width: 40px;
}
