/* General */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #344955;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.website-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

.create-event-btn {
  background-color: #F9AA33;
  color: #344955;
  border: none;
  padding: 12px 24px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.create-event-btn:hover {
  background-color: #ffb142;
}

/* Events List */
.events-list {
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.events-list h1 {
  margin-bottom: 30px;
  color: #344955;
  font-size: 2em;
}

.event-item {
  background-color: #ffffff;
  padding: 30px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  border: 2px solid transparent;
}

.event-item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  border-color: #F9AA33;
}

.event-name {
  font-size: 1.4em; 
  font-weight: bold;
  margin-bottom: 10px;
}

.event-duration{
  font-size: 1.1em;
  margin-bottom: 8px;
}

.event-duration-value {
  font-size: 1.1em;
  color: #4caf50;
  margin-bottom: 8px;
}

.event-creator {
  font-size: 1em;
  color: #555;
}

/* Events List */
.events-list {
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.events-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.events-list-header:after {
  content: '';
  background-color: #4caf50;
  height: 3px;
  width: calc(100% - 20px); 
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.events-list h1 {
  color: #344955;
  font-size: 2em;
  margin-right: 50px;
}

/* Style for the wrapper around the input */
.search-wrapper {
  position: relative;
  display: inline-block;
  flex-grow: 1;
}


.search-input {
  padding: 8px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
}

.search-input:focus {
  border-color: #6EC071;
  box-shadow: 0 2px 8px rgba(110, 192, 113, 0.3);
  outline: none;
}

.search-wrapper::after {
  content: "🔍";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}
