.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* min-height: 100vh; */
  /* width: 100%; */
  max-width: 400px;
  /* margin-top: 20px; */
  margin: 0 auto;
  /* padding: 10px; */
  border: 1px solid #ccc;
} 

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th {
  background-color: #eee;
  text-align: center;
  padding: 8px;
}

.calendar td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

/* .calendar td.selectable:hover {
  background-color: #f5f5f5;
} */

.calendar td.selected {
  background-color: blue;
  color: white;
}

.before-current-date {
  color: gray;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 500px;
}

li>div:first-child {
  flex: 1;
}

li>div:last-child {
  flex: 0 0 auto;
  margin-left: 10px;
}

h1 {
  /* padding-left: 10px; */
  justify-content: center;
  display: flex;
}

h2 {
  /* padding-left: 40px; */
  justify-content: center;
  display: flex;
}