.event-name-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  height: 30px;
  width: 470px;
  border-radius: 4px;
  font-size: 18px;
  font-family: fantasy;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}

.website-name {
  margin-left: 10px;
  font-size: 24px;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

h1 {
  color: #2C3E50;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
  position: relative;
}

h1:after {
  content: '';
  background-color: #4caf50;
  height: 3px;
  width: 430px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  color: #34495E;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 10px;
}

.finish-creation {
  justify-content: center;
  display: flex;
  margin: auto;
}

.finish-creation {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.finish-creation:hover {
    background-color: #45a049;
}

.finish-creation:active {
    background-color: #3e8e41;
}

