.login-form-container {
  background-image: linear-gradient(to right, #354152, #6f7f98, #354152);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Vibur', cursive;
  opacity: 0.95;
  justify-content: center;
  display: flex;
  background-size: cover;
  min-height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 5% auto;
  box-shadow: 0 9px 50px hsla(214, 17%, 8%, 0.784);
  padding: 1.5%;
  background-color: #354152;
}

.label-email, .label-password{
  color: #4caf50;
}

.login-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.login-form-header {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color:   #4caf50;
  margin-bottom: 10%;
}

.login-input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-family: 'Vibur', cursive;
  margin-bottom: 5%;
}

.submit {
  outline: none;
  border: none;
  height: 50px;
  width: 40%;
  border-radius: 5px;
  margin-top: 3%;
  background-image: linear-gradient(160deg,  #4caf50 0%,#6EC071 100%);
  color:white;
  cursor: pointer;
} 

.link-btn {
  outline: none;
  border: none;
  height: 50px;
  width: 280px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin: 5% auto;
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  transform: translatey(5px);
  box-shadow: none;
}

button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}

@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}